# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.
NODE_ENV=development

# Database uri
MONGODB_URI=mongodb://root:F6U4q7ejpbmmB9h@ds139985.mlab.com:39985/ecosystem

# Application port
PORT=1005
